# 인벤토리 예시

[server_targets]
; worker-node-1 ansible_host=i-xxxxxxxxxxxxxxxxx
; worker-node-2 ansible_host=i-yyyyyyyyyyyyyyyyy
; eks-nat-instance-2a ansible_host=i-zzzzzzzzzzzzzzzzz
; eks-nat-instance-2c ansible_host=i-wwwwwwwwwwwwwwwww

# U-64 : 워커노드/NAT 인스턴스 그룹
[eks_worker_nodes]
; worker-node-1
; worker-node-2

[nat_instances]
; eks-nat-instance-2a
; eks-nat-instance-2c

[server_targets:vars]
ansible_connection=aws_ssm
ansible_aws_ssm_bucket_name=<S3버킷명>   ; SSM 파일 전송용 버킷
ansible_aws_ssm_region=ap-northeast-2
ansible_python_interpreter=/usr/bin/python3
ansible_become=true
ansible_become_method=sudo
